@tailwind base;
@tailwind components;
@tailwind utilities;

.h-no-nav {
	min-height: calc(100vh - 2.5rem);
}

@keyframes blob {
  0% {
    border-radius: 94% 31% 30% 67% / 67% 37% 56% 34%;
  }
  10% {
    border-radius: 31% 94% 67% 30% / 37% 67% 34% 56%;
  }
  20% {
    border-radius: 67% 30% 94% 31% / 34% 56% 37% 67%;
  }
  30% {
    border-radius: 94% 67% 31% 30% / 56% 34% 67% 37%;
  }
  40% {
    border-radius: 30% 31% 67% 94% / 67% 37% 56% 34%;
  }
  50% {
    border-radius: 31% 67% 30% 94% / 37% 56% 34% 67%;
  }
  60% {
    border-radius: 67% 30% 31% 94% / 56% 34% 67% 37%;
  }
  70% {
    border-radius: 30% 94% 67% 31% / 34% 56% 37% 67%;
  }
  80% {
    border-radius: 94% 67% 30% 31% / 56% 34% 67% 37%;
  }
  90% {
    border-radius: 67% 31% 94% 30% / 37% 67% 34% 56%;
  }
  100% {
    border-radius: 94% 31% 30% 67% / 67% 37% 56% 34%;
  }
}

.bg-dots {
  background-image: radial-gradient(rgba(169, 169, 169, 0.319) 1px, transparent 0);
  background-size: 3rem 3rem;
  background-position: -19px -19px;
}

.anim-blob {
	border-radius: 94% 31% 30% 67% / 67% 37% 56% 34%;
	animation: blob 100s infinite;
}

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 47.4% 11.2%;

		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 47.4% 11.2%;

		--card: 0 0% 100%;
		--card-foreground: 222.2 47.4% 11.2%;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;

		--primary: 355 98% 50%;
		--primary-foreground: 210 40% 98%;

		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;

		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;

		--destructive: 0 100% 50%;
		--destructive-foreground: 210 40% 98%;

		--ring: 215 20.2% 65.1%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 224 71% 4%;
		--foreground: 222.2 47.4% 11.2%;

		--muted: 223 47% 11%;
		--muted-foreground: 215.4 16.3% 56.9%;

		--popover: 224 71% 4%;
		--popover-foreground: 215 20.2% 65.1%;

		--card: 224 71% 4%;
		--card-foreground: 213 31% 91%;

		--border: 216 34% 17%;
		--input: 216 34% 17%;

		--primary: 355 98% 50%;
		--primary-foreground: white;

		--secondary: 222.2 47.4% 11.2%;
		--secondary-foreground: 210 40% 98%;

		--accent: 216 34% 17%;
		--accent-foreground: 210 40% 98%;

		--destructive: 0 63% 31%;
		--destructive-foreground: 210 40% 98%;

		--ring: 216 34% 17%;

		--radius: 0.5rem;

		color: white;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
		font-feature-settings: 'rlig' 1, 'calt' 1;
	}
}
